<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center mb-4">🗒️ Task Manager</h2>

    <div class="mb-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter Task..." [(ngModel)]="newTask"/>
        <button class="btn btn-success" (click)="addTasks()">Add Task</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th style="width: 10%;">#</th>
            <th style="width: 70%;">Task</th>
            <th style="width: 20%;">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <td class="text-right">{{ i + 1}}</td>
            <td>{{ task }}</td>
            <td class="text-center">
              <button class="btn btn-danger btn-sm" (click)="deleteTask(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>